<div
  leaflet
  class="map"
  [ngStyle]="mapStyle"
  [leafletOptions]="mapOptions"
  (leafletMapReady)="onMapReady($event)"
>
  <ng-template #templatePortalContent>
    <mat-card>
      <mat-card-header
        ><h1>{{ overlayTitle }}</h1></mat-card-header
      >
      <mat-card-content>
        <p>{{ overlayDescription }}</p>
      </mat-card-content>
      <mat-card-actions
        ><button
          color="primary"
          [routerLink]="overlayRouterLink"
          [queryParams]="overlayQueryParams"
          mat-button
          mat-raised-button
          (click)="closeOverlay()"
        >
          Exportar datos
        </button>
        <button
          color="warn"
          mat-button
          mat-raised-button
          (click)="closeOverlay()"
        >
          Cerrar
        </button></mat-card-actions
      >
    </mat-card>
  </ng-template>
  <ng-template #icampffDatesContent>
    <mat-card>
      <mat-card-header><h1>Fecha de medición ICAMpff</h1></mat-card-header>
      <mat-card-content class="icampff-date-list">
        <mat-list>
          <mat-list-item
            (click)="setIcampffDate(id); closeOverlay()"
            class="item"
            *ngFor="let id of icampffDates"
            >{{ id }}</mat-list-item
          >
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          color="warn"
          mat-button
          mat-raised-button
          (click)="closeOverlay()"
        >
          Cancelar
        </button></mat-card-actions
      >
    </mat-card>
  </ng-template>
  <div class="leaflet-control-container">
    <div class="leaflet-top leaflet-right floating-controls">
      <button
        class=" leaflet-control"
        mat-button
        mat-raised-button
        mat-icon-button
        color="accent"
        (click)="openIcampffDateOverlay()"
      >
        <mat-icon>date_range</mat-icon>
      </button>
    </div>
  </div>
</div>
