i {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  float: left;
  margin-right: 8px;
  /*opacity: 0.7;*/
}

.container {
  width: 140px;
  display: block;
  margin: 25px 10px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.container > span {
  display: block;
  margin-bottom: 0.25rem;
}

.map {
  overflow: hidden;
}

.marker {
  background: transparent;
  line-height: 32pt;
}

mat-card {
  margin: 0 auto;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.active {
  background-color: #aaa;
}

.icampff-date-list {
  height: 230px;
  overflow: auto;
}
