<mat-drawer-container class="drawer">
  <mat-drawer
    (closed)="drawerOpened = false"
    [opened]="drawerOpened"
    [mode]="sidenavMode"
    opened
  >
    <mat-list>
      <mat-list-item *ngFor="let element of elements">
        <button
          class="drawer-item"
          mat-button
          (click)="elementPressed(element)"
        >
          <mat-icon matPrefix>{{ element.icon }}</mat-icon>
          {{ element.title }}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar>
      <button mat-button mat-icon-button (click)="drawerOpened = !drawerOpened">
        <mat-icon>menu</mat-icon>
      </button>
    </app-toolbar>
    <mat-card>
      <mat-card-header *ngIf="title"
        ><h1>{{ title }}</h1></mat-card-header
      >
      <mat-card-content>
        <ng-content></ng-content>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
