<app-toolbar [hidden]="sidenavHidden">
  <button mat-button mat-icon-button (click)="drawerOpened = !drawerOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button mat-icon-button (click)="location.back()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-button mat-icon-button (click)="location.forward()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</app-toolbar>
<mat-drawer-container class="drawer">
  <mat-drawer
    (closed)="drawerOpened = false"
    [opened]="drawerOpened && !sidenavHidden"
    [mode]="sidenavMode"
    opened
  >
    <mat-list>
      <mat-list-item
        [routerLink]="element.url"
        [queryParams]="element.queryParameters"
        *ngFor="let element of elements; let i = index"
        class="drawer-element"
        [class.active]="i === activeRoute"
      >
        <mat-icon class="drawer-element-icon" matPrefix>{{
          element.icon
        }}</mat-icon>
        {{ element.title }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content [class.outer-content]="!sidenavHidden">
    <div [class.inner-content]="!fullWidthContent">
      <h1>{{ title }}</h1>
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
