<h1 mat-dialog-title>Sensor App Data</h1>
<mat-dialog-content class="mat-typography">
  <div align="right">
    <mat-form-field>
      <mat-label>Mes Actual</mat-label>
      <mat-select
        [(ngModel)]="currentMonth"
        (selectionChange)="monthSelected()"
      >
        <mat-option *ngFor="let Month of Months" [value]="Month.value">
          {{ Month.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    echarts
    [ngStyle]="{ height: '300%', width: '100%' }"
    [options]="options"
    (chartClick)="chartClick($event)"
    [mat-dialog-close]="data"
    *ngIf="!showMessage"
  ></div>
  <div *ngIf="showMessage"
  [ngStyle]="{width: '100%' }">
    <h1 align="center">{{message}}</h1>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!--button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Search <mat-icon>search</mat-icon>
  </button-->
</mat-dialog-actions>
