<h2 mat-dialog-title>Select a DateTime to finding data</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="data.Date"/>
    <mat-datepicker-toggle
      matSuffix
      [for]="myDatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
  <div class="forms">
    <div class="formItem forms">
      <mat-form-field class="formField">
        <mat-label>Start Time</mat-label>
        <mat-select [(value)]="data.StartTime">
          <mat-option *ngFor="let hour of hours" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="formItem forms">
      <mat-form-field class="formField">
        <mat-label>End Time</mat-label>
        <mat-select  [(value)]="data.EndTime">
          <mat-option *ngFor="let hour of hours" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    class=" leaflet-control"
    mat-button
    mat-dialog-close
    mat-button
    color="RED"
  >
    <mat-icon>close</mat-icon>
  </button>
  <button
    class=" leaflet-control"
    mat-button
    mat-dialog-close
    mat-button
    [mat-dialog-close]="data"
    color="primary"
    cdkFocusInitial
  >
    <mat-icon>search</mat-icon>
  </button>
</mat-dialog-actions>
