<h1 translate>about.project.title</h1>

<p>
  {{ 'about.project.text1' | translate }}
  <a href="http://siam.invemar.org.co/siam/redcam/indicadores/index.jsp">
    {{ 'about.project.invemarLink' | translate }}</a
  >
  {{ 'about.project.text2' | translate }}
</p>
<p translate>about.project.text3</p>

<h2 translate>about.project.whatIsIS.title</h2>
<p translate>about.project.whatIsIS.text1</p>
<p translate>about.project.whatIsIS.text2</p>

<h1 translate>about.whyAquApp.title</h1>
<p translate>about.whyAquApp.text</p>
<h2 translate>about.whyAquApp.features.title</h2>
<div *ngFor="let feature of features">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <h3>
        <mat-icon color="primary" matPrefix mat-list-icon>{{
          feature.icon
        }}</mat-icon
        ><span class="feature-title">{{ feature.title | translate }}</span>
      </h3></mat-card-header
    >
    <mat-card-content>{{ feature.description | translate }}</mat-card-content>
  </mat-card>
  <br />
</div>
<h2 translate>about.whyAquApp.team.title</h2>
<mat-grid-list
  [rowHeight]="450"
  [cols]="width > 1234 ? 3 : width > 873 ? 2 : 1"
>
  <mat-grid-tile *ngFor="let member of team">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <mat-card class="member mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{ member.name | translate }} </mat-card-title>
              <mat-card-subtitle>
                {{ member.role | translate }}
              </mat-card-subtitle>
            </mat-card-header>
            <div class="member-photo-container">
              <img
                class="member-photo"
                [src]="member.photo"
                [alt]="member.photoAlt"
              />
            </div>
          </mat-card>
        </div>
        <div class="flip-card-back mat-elevation-z4">
          <h1>{{ member.name | translate }}</h1>
          <h2>{{ member.role | translate }}</h2>
          <p>{{ member.info | translate }}</p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<br />
<br />
<br />
<h1 translate>about.additionalInfo.title</h1>
<p>
  {{ 'about.additionalInfo.text' | translate }}
  <a translate href="https://www.gnu.org/licenses/agpl-3.0.en.html"
    >about.additionalInfo.link</a
  >
</p>
<h1 translate>about.contact.title</h1>
<p translate>about.contact.text</p>
<br />
<a
  translate
  href="https://github.com/IngenieriaDeSistemasUTB/aquappservice/wiki"
  >about.contact.link</a
>
<br />
<h1 translate>about.specialThanks.title</h1>
<p translate>about.specialThanks.text</p>
<a href="http://www.invemar.org.co/inicio">
  <img src="assets/logoInvemar.png" alt="Logo Invemar" />
</a>
